.board{
    background: #E2E4E6;
    min-width: 100px;
    width: 25%;
    padding: 20px
}

.add-card{
    color: #838C91;
    font-size: 14px;
    margin: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.new-task {
    font-size: 14px;
    padding: 10px;
    margin: 10px;
    width: calc(100% - 40px);
}

.add-btn{
    background: #5CAB4A;
    color: #fff;
    padding: 10px 10px;
    width: 30%;
    margin: 10px;
}

.close-btn{
    color: #838C91;
    font-size: 25px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}