body{
  background: #127ABD;
}

.trello-container{
  display: flex;
  justify-content: space-around;
}

.main-title{
  color: #fff;
  font-size: 25px;
  text-align: center;
}

.task{
  background: #fff;
  color:#000;
  font-size: 12px;
  margin: 10px;
  width: calc(100% - 40px);
  padding: 10px;
  word-wrap: break-word;
}

.width-25{
  width: 25%
}